body {
  background-color: #738678;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 400px;
  height: 500px;
}

.content-container {
  width: 350px;
  color: white;
  opacity: .8;
  margin-left: 20px;
}

.header {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Albert Sans', sans-serif;
  margin-bottom: 24px;
}

.paragraph {
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 18px;
}

.promocode, .blurb {
  margin-bottom: 12px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  margin-bottom: 12px;
}

.link a {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  line-height: 18px;
  color: white;
}

.link a:visted {
  color: white;
}

.link a:hover {
  color: white;
  opacity: .6;
}

@media screen and (max-width: 720px) {
  .container {
    transform: scale(.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
