body {
  background: linear-gradient(to bottom, #e8f4ff 0%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 290px;
  padding: 0 24px 24px;
}

.puzzle-container {
  align-items: center;
  display: flex;
  z-index: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 400px;
}

@media (min-width: 800px) {
  .main {
    flex-direction: row;
    height: 100vh;
    margin: 0 auto;
    max-width: 880px;
    padding-bottom: 0;
  }

  .puzzle-container {
    margin-right: 36px;
    max-width: 50%;
  }

  .content-container {
    gap: 24px;
    margin-left: 24px;
    width: 50%;
  }
}
