body {
  background: linear-gradient(to bottom, #e8f4ff 0%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  max-width: 880px;
  height: 100vh;
  padding: 0 24px;
}

.puzzle-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}
