.board {
  position: relative;
  display: flex;
  padding: 20px;
}

.image-drop-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.image-drop {
  position: relative;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
}

.piece {
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100px;
  box-sizing: border-box;
  pointer-events: none;
}

.piece[draggable=true] {
  position: absolute;
  pointer-events: auto;
  border: 1px solid limegreen;
  z-index: 2;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .piece, .image-drop {
    height: 162.2px;
    width: 135px;
  }

  .board {
    padding: 50px;
  }
}
