.board {
  position: relative;
  display: flex;
}

.image-drop-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.image-drop {
  position: relative;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
}

.piece {
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100px;
  box-sizing: border-box;
  pointer-events: none;
}

.piece[draggable=true] {
  position: absolute;
  pointer-events: auto;
  border: 1px solid limegreen;
  z-index: 2;
  cursor: pointer;
}

.image-drop:nth-child(1) {
  border-right: none;
  border-bottom: none;
}
.image-drop:nth-child(2) {
  border-bottom: none;
}
.image-drop:nth-child(3) {
  border-left: none;
  border-bottom: none;
}
.image-drop:nth-child(4) {
  border-right: none;
}
.image-drop:nth-child(6) {
  border-left: none;
}
.image-drop:nth-child(7) {
  border-top: none;
  border-right: none;
}
.image-drop:nth-child(8) {
  border-top: none;
}
.image-drop:nth-child(9) {
  border-left: none;
  border-top: none;
}

@media screen and (min-width: 800px) {
  .piece, .image-drop {
    height: 162.2px;
    width: 135px;
  }
}
